@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: linear-gradient(to right, #335C67, #456A74, #7D979E);
    background-size: cover;
    text-align: center;
}

header {
    background: #540B0E;
    position: relative;
    width: 100%;
    display: table;
    box-shadow: 0 0 20px -2px #540B0E;
}

header .img-perfil {
    float: left;
    top: 0;
    left: 0
}

header .info-details {
    float: right;
}

header button {
    position: absolute;
    bottom: 4px;
    right: 10px;
    min-width: 50px;
    border-top-left-radius: 50% !important;
}

.title-system {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 10px;
}

.title-system h1 {
    font-size: 60px !important;
    text-shadow: -7px 1px #000;
}

.footer-relative {
    position: relative;
    width: 100%;
}

.footer-absolute {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon-footer {
    position: absolute;
    width: 80px;
    top: -82px;
    right: 20px;
    animation-delay: 0.5s;
}

.info-footer {
    animation-delay: 0.5s;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: black;
    text-decoration: none;
}

.form-login {
    min-width: 300px;
    width: 30%;
    background: #9E2A2B;
    margin: 40px auto 0;
    padding: 10px;
    box-shadow: 0 0 10px -2px #000000;
}

.input {
    position: relative;
    width: 90%;
    background: #540B0E;
    outline: 2px solid #360809;
    margin: 10px auto;
}

.input .icon {
    position: absolute;
    top: 7px;
    left: 5px;
}

input, select, textarea {
    border: none;
    background: #540B0E;
    width: 90%;
    padding: 8px;
    outline: none;
}

textarea {
    resize: none;
}

textarea::placeholder {
    color: white;
    opacity: 0.8;
}

button {
    outline: none;
}

input::placeholder {
    color: white;
    opacity: 0.8;
}

input:focus, select:focus {
    outline: none;
}

.login-actions {
    position: relative;
}

button {
    background: #E09F3E;
    color: #FFF3B0;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    min-width: 100px;
    border: none;
    box-shadow: 0 0 10px -2px #3E2C11;
    display: inline-block;
}

button:hover {
    transform: rotate(10deg);
    transition-duration: 0.3s;
}

.label-rotate {
    display: inline-block;
    transform: rotate(-30deg);
    margin: 25px;
}

.login-actions button:hover {
    box-shadow: 0 0 20px -2px #3E2C11;
}

.button-border-right {
    border-bottom-right-radius: 50%;
}

.button-border-left {
    border-top-left-radius: 50%;
}

::-webkit-scrollbar {
    width: 8px;
    background: #E09F3E;
}

::-webkit-scrollbar-thumb {
    background: #9E2A2B;
}

.shadow_base {
    min-width: 300px;
    width: 30%;
    height: 20px;
    box-shadow: 0 60px 20px -2px #000;
    margin: 0 auto;
    border-radius: 70%;
}

.sunny {
    position: absolute;
    top: 10px;
    right: 20px;
    animation-name: sunny;
    animation-duration: 2s;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.7;
    z-index: 1;
}

.modal-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

.modal-bid {
    position: relative;
    min-width: 280px;
    width: 60%;
    margin: 100px auto;
    background: #9E2A2B;
    max-height: 500px;
    overflow-y: auto;
    z-index: 3;
    padding: 8px;
    box-shadow: 0 0 10px -2px #9E2A2B;
}

.modal-image {
    position: relative;
    min-width: 280px;
    width: 30%;
    margin: 100px auto;
    background: #9E2A2B;
    z-index: 3;
    padding: 8px;
    box-shadow: 0 0 10px -2px #9E2A2B;
}

.no-rotate:hover {
    transform: none !important;
    box-shadow: 0 0 20px -2px #000000;
}

.imagePreview {
    max-height: 120px;
    width: auto;
}

.page-body {
    min-height: 400px;
    min-width: 300px;
    width: 80%;
    position: relative;
    margin: 80px auto 100px;
    background: #9E2A2B;
    padding: 10px;
}

.page-body .name-user {
    position: absolute;
    top: -34px;
    left: 12px;
}

.hide-component {
    display: none;
}

.modal-notification {
    position: fixed;
    width: 100%;
    bottom: 70px;
    display: none;
    z-index: 4;
}

.text-notification {
    padding: 5px;
    background: #242424;
    border-radius: 10px;
    max-width: 280px;
    margin: 0 auto;
}

.card-accordion {
    position: relative;
    display: table;
    text-align: left;
    padding: 12px;
    margin: 0 auto 10px;
    width: 70%;
    border-bottom: 1px solid antiquewhite;
}

.card-accordion:hover {
    transition-duration: 0.4s;
    border-bottom: 3px solid antiquewhite;
}

.card-accordion h4, .card-accordion button {
    margin: 0 0 0 10px;
    display: inline-block;
}

.card-accordion button {
    position: absolute;
    right: 20px;
    top: 10px;
}

.form-service {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

button:disabled {
    opacity: 0.8;
}

button:disabled:hover {
    transform: rotate(0deg);
}

.label-lg {
    font-size: 20px;
}

.label-md {
    font-size: 16px;
}

.info-count {
    background: #081e1f;
    color: #ffdd47;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 1px;
}

.nav-sm {
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.card-height-overflow {
    max-height: 500px;
    overflow-y: auto;
}